*.sdf
*.ipch
*.opendb
*.suo
compile_commands.json
sexit
.vscode/
build/install_manifest.txt
build/vendor/
build/uwp/tic/Debug/
build/uwp/tic/Release/
build/uwp/tic/x64/
build/uwp/tic/ARM/
build/uwp/tic/AppPackages/
build/uwp/tic/BundleArtifacts/
build/android/gen/
build/android/libs/
build/android/obj/
build/itch.io/tic.js
build/itch.io/console.zip
build/uwp/code8/ARM/
build/uwp/code8/x64/
build/uwp/code8/code8.VC.db
build/uwp/code8/Release/
build/uwp/code8/AppPackages/code8/code8_0.0.3.0_Test/
build/uwp/code8/BundleArtifacts/
build/uwp/code8/AppPackages/
build/uwp/code8/_pkginfo.txt
build/uwp/tic/tic.VC.db
build/uwp/tic/_pkginfo.txt
build/mruby_vendor-prefix
tests/history.exe
build/uwp/lua/x64/
build/uwp/lua/ARM/
build/uwp/lua/Release/
build/uwp/lua/Debug/
build/windows/tic/Release/
build/windows/tic/Debug/
build/windows/tic/x64/
build/windows/tic/Win32/
build/windows/tic/tic.VC.db
build/windows/zlib/Release/
build/windows/zlib/Debug/
build/windows/zlib/x64/
build/windows/lua/Release/
build/windows/lua/Debug/
build/windows/lua/x64/
lib/windows/res.aps
lib/windows/tic.aps
.DS_Store
lib/macos/.DS_Store
tools/bundler/assets/
tools/bundler/bin/
tools/bin2txt/*.exe
tools/bin2txt/bin2txt
build/windows/gif/Debug/
build/windows/gif/Release/
tests/*.exe
tests/test.gif
tests/test_data.gif
build/uwp/gif/x64/
build/uwp/gif/Release/
build/uwp/gif/ARM/
build/uwp/gif/Debug/
tools/sdl2test/test.exe
build/windows/tic80/Release/
build/windows/tic80/Debug/
build/windows/gif/x64/
build/windows/tic80/x64/
build/windows/example/Release/
build/windows/example/Debug/
build/uwp/tic80/Release/
build/uwp/tic80/Debug/
build/windows/example/x64/
build/windows/test/x64/
build/windows/test/Debug/
build/android/bin/
build/windows/test/Release/
build/uwp/tic80/x64/
build/uwp/tic80/ARM/
build/uwp/tic/Package.StoreAssociation.xml
build/uwp/tic/tic_StoreKey.pfx
build/windows/gif/Debug Pro/
build/windows/gif/Release Pro/
build/windows/lua/Debug Pro/
build/windows/lua/Release Pro/
build/windows/tic/Debug PRO/
build/windows/tic/Release PRO/
build/windows/tic80/Debug Pro/
build/windows/tic80/Release Pro/
build/windows/zlib/Debug Pro/
build/windows/zlib/Release Pro/
build/windows/example/Release Pro/
build/windows/example/Debug Pro/
build/windows/wren/Release/
build/windows/wren/Debug/
build/windows/wren/x64/
build/uwp/wren/x64/
build/uwp/wren/Release/
build/uwp/wren/ARM/
build/uwp/wren/Debug/
build/windows/studio/Debug/
build/windows/studio/Debug Pro/
build/windows/studio/Release/
build/windows/studio/Release Pro/
build/uwp/studio/Debug/
build/uwp/studio/Debug Pro/
build/uwp/studio/Release/
build/uwp/studio/Release Pro/
build/uwp/studio/ARM/
build/uwp/studio/x64/
build/windows/sdl-gpu/Debug/
build/windows/sdl-gpu/Debug Pro/
build/windows/sdl-gpu/Release/
build/windows/sdl-gpu/Release Pro/
build/uwp/sdl-gpu-static/Debug/
build/uwp/sdl-gpu-static/Debug Pro/
build/uwp/sdl-gpu-static/Release/
build/uwp/sdl-gpu-static/Release Pro/
build/uwp/sdl-gpu-static/ARM/
build/uwp/sdl-gpu-static/x64/
build/uwp/tic/packages/
build/windows/studio/x64/
build/windows/sdl-gpu/x64/
build/macosx/*.plist
demos/*.rtc
demos/*.srm
demos/.local
.vs/
CMakeFiles/
lib/
*.cmake
CMakeCache.txt
Makefile
!build/rpi/*
!build/baremetalpi/Makefile
!build/baremetalpi/boot/Makefile
!build/baremetalpi/toolchain.cmake
!templates/c/Makefile
build/android/.gradle/
build/android/app/.externalNativeBuild/
build/android/app/build/
build/android/build/
build/vendor/sdl2/SDL2.spec
build/vendor/sdl2/include/SDL_config.h
build/vendor/sdl2/sdl2-config
build/vendor/sdl2/sdl2.pc
build/bin/bin2txt
build/bin/sdl-renderer
build/bin/sokol-renderer
build/bin/tic80
build/bin/tic80-sokol
out/
build/bin/
build/vendor/curl/libcurl.pc
build/vendor/curl/curl-config
build/vendor/curl/DartConfiguration.tcl
build/.ninja_deps
build/.ninja_log
build/version.h
build/pnglibconf.h
build/windows/*.rc
*.ninja
tic80.sublime-workspace
build/*.tic
build/*.vcxproj
build/*.vcxproj.filters
build/*.vcxproj.user
build/CMakeDoxyfile.in
build/*.sln
build/.local/
build/*.dir/
build/x64/
build/linux/tic80.desktop
build/compile_commands.json
CMakeSettings.json
tic_mruby_build_config.rb.lock
tic_mruby_wasm_build_config.rb.lock
build/mruby_vendor-prefix/
**/zig-cache
**/zig-out
.cache
*~
