*.sdf
*.ipch
*.opendb
*.suo
sexit
.vscode/
build/uwp/tic/Debug/
build/uwp/tic/Release/
build/uwp/tic/x64/
build/uwp/tic/ARM/
build/uwp/tic/AppPackages/
build/uwp/tic/BundleArtifacts/
build/android/gen/
build/android/libs/
build/android/obj/
build/itch.io/tic.js
build/itch.io/console.zip
build/uwp/code8/ARM/
build/uwp/code8/x64/
build/uwp/code8/code8.VC.db
embed.html
build/uwp/code8/Release/
build/uwp/code8/AppPackages/code8/code8_0.0.3.0_Test/
build/uwp/code8/BundleArtifacts/
build/uwp/code8/AppPackages/
build/uwp/code8/_pkginfo.txt
build/uwp/tic/tic.VC.db
build/uwp/tic/_pkginfo.txt
tests/history.exe
build/uwp/lua/x64/
build/uwp/lua/ARM/
build/uwp/lua/Release/
build/uwp/lua/Debug/
build/windows/tic/Release/
build/windows/tic/Debug/
build/windows/tic/x64/
build/windows/tic/Win32/
build/windows/tic/tic.VC.db
build/windows/zlib/Release/
build/windows/zlib/Debug/
build/windows/zlib/x64/
build/windows/lua/Release/
build/windows/lua/Debug/
build/windows/lua/x64/
lib/windows/res.aps
lib/windows/tic.aps
.DS_Store
lib/macos/.DS_Store
tools/bundler/assets/
tools/bundler/bin/
tools/bin2txt/*.exe
tools/bin2txt/bin2txt
build/windows/gif/Debug/
build/windows/gif/Release/
tests/*.exe
tests/test.gif
tests/test_data.gif
build/uwp/gif/x64/
build/uwp/gif/Release/
build/uwp/gif/ARM/
build/uwp/gif/Debug/
tools/sdl2test/test.exe
build/windows/tic80/Release/
build/windows/tic80/Debug/
build/windows/gif/x64/
build/windows/tic80/x64/
build/windows/example/Release/
build/windows/example/Debug/
build/uwp/tic80/Release/
build/uwp/tic80/Debug/
build/windows/example/x64/
build/windows/test/x64/
build/windows/test/Debug/
build/android/bin/
build/windows/test/Release/
build/uwp/tic80/x64/
build/uwp/tic80/ARM/
build/uwp/tic/Package.StoreAssociation.xml
build/uwp/tic/tic_StoreKey.pfx
build/windows/gif/Debug Pro/
build/windows/gif/Release Pro/
build/windows/lua/Debug Pro/
build/windows/lua/Release Pro/
build/windows/tic/Debug PRO/
build/windows/tic/Release PRO/
build/windows/tic80/Debug Pro/
build/windows/tic80/Release Pro/
build/windows/zlib/Debug Pro/
build/windows/zlib/Release Pro/
build/windows/example/Release Pro/
build/windows/example/Debug Pro/
TIC80.sublime-project
TIC80.sublime-workspace
build/windows/wren/Release/
build/windows/wren/Debug/
build/windows/wren/x64/
build/uwp/wren/x64/
build/uwp/wren/Release/
build/uwp/wren/ARM/
build/uwp/wren/Debug/
build/windows/studio/Debug/
build/windows/studio/Debug Pro/
build/windows/studio/Release/
build/windows/studio/Release Pro/
build/uwp/studio/Debug/
build/uwp/studio/Debug Pro/
build/uwp/studio/Release/
build/uwp/studio/Release Pro/
build/uwp/studio/ARM/
build/uwp/studio/x64/
build/windows/sdl-gpu/Debug/
build/windows/sdl-gpu/Debug Pro/
build/windows/sdl-gpu/Release/
build/windows/sdl-gpu/Release Pro/
build/uwp/sdl-gpu-static/Debug/
build/uwp/sdl-gpu-static/Debug Pro/
build/uwp/sdl-gpu-static/Release/
build/uwp/sdl-gpu-static/Release Pro/
build/uwp/sdl-gpu-static/ARM/
build/uwp/sdl-gpu-static/x64/
build/uwp/tic/packages/
build/windows/studio/x64/
build/windows/sdl-gpu/x64/
.vs/
CMakeFiles/
lib/
*.cmake
CMakeCache.txt
Makefile
