name: Build

on: [push]

env:
  BUILD_TYPE: MinSizeRel

jobs:

# === Windows SDL2 ===
  windows-sdl:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      shell: cmd
      run: |
        cd build
        cmake -G "Visual Studio 16 2019" -A Win32 -T v141_xp -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ..
        cmake --build . --parallel --config %BUILD_TYPE%

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-windows-sdl'
        path: build/bin/tic80.exe

# === Windows SDLGPU ===
  windows-sdlgpu:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      shell: cmd
      run: |
        cd build
        cmake -G "Visual Studio 16 2019" -A Win32 -T v141_xp -DBUILD_SDLGPU=On -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ..
        cmake --build . --parallel --config %BUILD_TYPE%

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-windows-sdlgpu'
        path: build/bin/tic80.exe

# === Windows Sokol ===
  windows-sokol:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      shell: cmd
      run: |
        cd build
        cmake -G "Visual Studio 16 2019" -A Win32 -DBUILD_SDL=Off -DBUILD_SOKOL=On -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ..
        cmake --build . --parallel --config %BUILD_TYPE%
        cp bin/tic80-sokol.exe bin/tic80.exe

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-windows-sokol'
        path: build/bin/tic80.exe

# === Ubuntu SDLGPU ===
  ubuntu-sdlgpu:
    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Install
      run: sudo apt-get install libasound2-dev libglu1-mesa-dev

    - name: Build
      run: |
        cd build
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_SDLGPU=On ..
        cmake --build . --parallel --config $BUILD_TYPE
        cpack

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-ubuntu-sdlgpu'
        path: build/tic80.deb

# === Ubuntu SDL2 ===
  ubuntu-sdl:
    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Install
      run: sudo apt-get install libasound2-dev libglu1-mesa-dev

    - name: Build
      run: |
        cd build
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
        cmake --build . --parallel --config $BUILD_TYPE
        cpack

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-ubuntu-sdl'
        path: build/tic80.deb

# === Raspberry PI ===
  rpi:
    runs-on: ubuntu-latest
    container: nesbox/rpi-tic80:latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      run: |
        cd build
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_TOOLCHAIN_FILE=rpi/toolchain.cmake ..
        cmake --build . --parallel --config $BUILD_TYPE
        cpack

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-rpi'
        path: build/tic80.deb

# === Raspberry PI 1-3 Bare Metal ===
  rpi-baremetal:
    runs-on: ubuntu-latest
    container: nesbox/baremetalpi-tic80:latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Prebuild
      run: |
        cd vendor/circle-stdlib
        ./configure -r 3
        make -j$(nproc)
        cd libs/circle/addon/vc4/sound/
        make -j$(nproc)
        cd ../vchiq
        make -j$(nproc)
        cd ../../linux
        make -j$(nproc)

    - name: Build
      run: |
        cd build
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_TOOLCHAIN_FILE=baremetalpi/toolchain.cmake ..
        make tic80studio -j$(nproc)
        cd baremetalpi
        make -j$(nproc)
        cd ../../vendor/circle-stdlib/libs/circle/boot/
        make -j$(nproc)

    - name: Pack
      run: |
        cp build/baremetalpi/kernel8-32.img vendor/circle-stdlib/libs/circle/boot/kernel.img
        cp build/baremetalpi/boot/config.txt vendor/circle-stdlib/libs/circle/boot/config.txt

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-baremetal'
        path: |
          vendor/circle-stdlib/libs/circle/boot/config.txt
          vendor/circle-stdlib/libs/circle/boot/kernel.img
          vendor/circle-stdlib/libs/circle/boot/bootcode.bin
          vendor/circle-stdlib/libs/circle/boot/start.elf
          vendor/circle-stdlib/libs/circle/boot/fixup.dat
          vendor/circle-stdlib/libs/circle/boot/LICENCE.broadcom

# === Nintendo 3DS build ===
  nintendo-3ds:
    runs-on: ubuntu-latest
    container: nesbox/devkitpro-tic80:latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      run: |
        cd build
        cmake -DCMAKE_TOOLCHAIN_FILE=$DEVKITPRO/3ds.cmake -DN3DS=TRUE -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
        make -j$(nproc)

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-nintendo-3ds'
        path: build/bin/tic80.3dsx

# === MacOS 10.15 ===
  macos:
    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Install
      run: brew uninstall --ignore-dependencies libidn2

    - name: Build
      run: |
        cd build
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
        cmake --build . --parallel --config $BUILD_TYPE
        cpack
        cp *.dmg tic80.dmg

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-macos-sdl'
        path: build/tic80.dmg

# === Android arm7 arm8 x86 x64 ===
  android:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      run: |
        cd build/android
        ./gradlew assembleRelease
        cp app/build/outputs/apk/arm7/release/app-arm7-release.apk tic80_arm7.apk
        cp app/build/outputs/apk/arm8/release/app-arm8-release.apk tic80_arm8.apk
        cp app/build/outputs/apk/x86_64/release/app-x86_64-release.apk tic80_x64.apk
        cp app/build/outputs/apk/x86/release/app-x86-release.apk tic80_x86.apk
        cp app/build/outputs/apk/universal/release/app-universal-release.apk tic80.apk

    - name: Deploy ARM7
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-android-arm7'
        path: build/android/tic80_arm7.apk

    - name: Deploy ARM8
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-android-arm8'
        path: build/android/tic80_arm8.apk

    - name: Deploy x64
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-android-x64'
        path: build/android/tic80_x64.apk

    - name: Deploy x86
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-android-x86'
        path: build/android/tic80_x86.apk

    - name: Deploy Universal
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-android'
        path: build/android/tic80.apk

# === Web Assembly ===
  wasm:
    runs-on: ubuntu-latest

    steps:
    - uses: mymindstorm/setup-emsdk@v7

    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      run: |
        cd build
        emcmake cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
        cmake --build . --parallel --config $BUILD_TYPE
        cp html/export.html bin/index.html

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-wasm'
        path: |
          build/bin/tic80.js
          build/bin/tic80.wasm
          build/bin/index.html
